In [26]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
TABLE = 'Tuition'

In [27]:
url = 'https://www.mcdaniel.edu/admissions-cost/cost-financial-aid/graduate-tuition-fees'
page = requests.get(url)

with open(TABLE + '.html', 'w', encoding='utf-8') as file:
    file.write(page.text)

In [28]:
with open(TABLE + '.html', 'r', encoding='utf-8') as file:
    content = file.read()

soup = BeautifulSoup(content, 'html.parser')

In [29]:
degree = 'M.S. in Data Analytics'
button = soup.find('h3', string=degree)
div = button.find_next('div')
p_tags = div.find_all('p')

cols = ['Program', 'Tuition (Per Credit Hour)', 'Residency Fee', 'Practicum Fee']

tuition_fee = p_tags[0].text
residency_fee = p_tags[1].text.split(' - ')[-1]
practicum_fee = p_tags[2].text.split(' - ')[-1]

data_1 = {'Program': degree, 'Tuition (Per Credit Hour)': tuition_fee, 
        'Residency Fee': residency_fee, 'Practicum Fee': practicum_fee}


df1 = pd.DataFrame([data_1], columns=cols)
df1

,Program,Tuition (Per Credit Hour),Residency Fee,Practicum Fee
0,M.S. in Data Analytics,$689 per credit beginning in Fall 2023,$204,$200

In [30]:
ul = soup.find('h2', string='Graduate Program Fees').find_next('ul')
li_tags = ul.find_all('li')

data_2 = []
for li in li_tags:
    item = li.get_text()
    description, cost = [x.strip() for x in item.split(':')]
    data_2.append([description, cost])

df2 = pd.DataFrame(data_2, columns=["Description", "Cost"])
df2

             Description                  Cost
0     Administrative Fee  $105.00 per semester
1       Late Payment Fee                $50.00
2  Student Teaching Fees               $850.00
3         Transcript Fee                $12.00
4  Late Registration Fee                $35.00

In [31]:
tbl = soup.table

In [32]:
df3 = pd.read_html(str(tbl))[0]
df3

/var/folders/jl/k_qw56hn2dx0cbwjpqwf8k3m0000gn/T/ipykernel_11364/2880364159.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df3 = pd.read_html(str(tbl))[0]

,0,1,2
0,Tuition,"$11,412.00 per year",Based on average tuition for full-time enrollment (fall/spring/summer)
1,Fees,"$1,472 per year",Based on average fees for full-time enrollment (fall/spring/summer)
2,Books,"$1,798 per year",Indirect charge: to be used for planning
3,Meals Not on Campus,"$3,572.00 per year",Indirect charge: to be used for planning
4,Off Campus Room,"$8,332.00 per year",Indirect charge: to be used for planning
5,Off Campus Transportation,"$2,470.00 per year",Indirect charge: to be used for planning
6,Personal Expenses,"$8,086.00 per year",Indirect charge: to be used for planning

In [33]:
merged_df = pd.concat([df1, df2, df3], axis=0, ignore_index=True)
merged_df.to_csv(TABLE + '.csv')