In [1]:
import os
import requests
import re
from bs4 import BeautifulSoup
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
TABLE = 'Tuition'

In [2]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
url = 'https://www.ciam.edu/cost-aid#TuitionandFees'
page = requests.get(url, headers=headers)


with open(TABLE + '.html', 'w', encoding='utf-8') as file:
    file.write(page.text)

In [3]:
with open(TABLE + '.html', 'r', encoding='utf-8') as file:
    content = file.read()

soup = BeautifulSoup(content, 'html.parser')

In [4]:
tbl1 = soup.find(string='Estimated Tuition Rates 2022-2023').find_next('table')

In [5]:
df1 = pd.read_html(str(tbl1))[0]
df1

/var/folders/jl/k_qw56hn2dx0cbwjpqwf8k3m0000gn/T/ipykernel_14519/2770625120.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df1 = pd.read_html(str(tbl1))[0]

,Master's of Business Administration in Executive Management,Tuition
0,Full-Time Status (2 courses per term),"$4,000 per term"
1,Part-Time Status (1 course per term),"$2,000 per term"
2,Tution Costs Per Credit,$667
3,Total Tuition:,"$24,000 for entire program"

In [6]:
tbl2 = soup.find(string='Student Fees 2022-2023').find_next('table')
df2 = pd.read_html(str(tbl2))[0]
df2

/var/folders/jl/k_qw56hn2dx0cbwjpqwf8k3m0000gn/T/ipykernel_14519/2414077094.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df2 = pd.read_html(str(tbl2))[0]

                                  Category:               Fees:
0          Application Fee (Non-Refundable)                 $75
1                 STRF Fee (Non-Refundable)                 $60
2             Estimated Total Textbook Cost  No Additional Cost
3                     Estimated Parking Fee  No Additional Cost
4                  INT/CPT Registration Fee               $100*
5  Total Estimated Program Associated Fees:                $235

In [9]:
head_str = 'Cost of Attendance'
_ = soup.find(string=head_str).find_next('ul').get_text(strip=True, separator='\n')
df3 = pd.DataFrame([_], columns=[head_str])
df3

                                                                                                                                           Cost of Attendance
0  Total Tuition: $24,000.00 for entire program\nTotal Estimated Program Associated Fees: $235.00\nTOTAL ESTIMATED PROGRAM COSTS (TUITION + FEES): $24,235.00

In [11]:
df4 = pd.concat([df1, df2, df3])
df4.to_csv(TABLE + '.csv')